.container {
  padding: 0;
  margin: 0;
}

.spl {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom right, rgb(83,0,96), rgb(230,9,139));
  background-size: cover;
}

.spl img {
  width: 150px;
  margin-top: 230px;
}

.spl .fa, .sr-only {
  color: rgb(255, 255, 255);
}

h1, h4 {
  text-align: center;
  color: rgb(255,255,255);
}

.ctsmsg .mtsch {
  margin-top: 350px;
  width: 150px;
}
