* {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.head {
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
  padding: 25px;
  margin-bottom: 45px
}

@media (min-width: 768px) {
  .head {
    width: 70vw;
    margin-left: 15%;
  }
}

.preview {
  float: left;
  border-style: none;
  border-radius: 50%;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgb(255,255,255);
  font-size: 25px;
}

.preview a {
  color: rgb(230,9,139);
}

.preview:hover {
  background-color: rgb(230,9,139);
}

.preview a:hover{
  color: rgb(255,255,255);
  text-decoration: none;
}

.head h3 {
  margin-top: 100px;
}


.next {
  margin-top: 65px;
}

.next button {
  padding: 15px;
  width: 65vw;
  border-style: none;
  background-image: linear-gradient(to top left, rgb(80,0,96), rgb(230,9,139));
}

.next button a {
  text-decoration: none;
  color: rgb(255,255,255);
}
